page-balance-sheet {
    .add-sheet {
        justify-content: flex-end;
        float: right;
        padding-right: 15px;
        position: relative;
        top: 4px;
      }

      .plusone {
          top: 5px;
      }
}
